	$primary: #ddd;
	$dark: #333;
	$light: #fff;
	$green: #003300;
	$shadow:0 1px 5px rgba(104, 104, 104, 0.8);
	$btn: #b39800;
	$hover:#b39800; 

//@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin btn {
	background-color: $btn;
	color: $light;
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
}

html {
	box-sizing: border-box;
	color: $dark;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #f2f2f2;
	margin: 30px 50px;
	line-height: 1.4;
}

.btn {
@include btn;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
}

/* Header */

/*header {
	margin-top: 2rem;
	background-size: cover;
	background-position: center;
	padding: 10rem;
	display: flex;
	color: $light;
	text-align: center;
	background-image: url(../images/header-img.png);
} */

/*Navigation*/

.main-nav ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(8, 1fr);
}

.main-nav a {
	background: $primary;
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--dark);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: $shadow;

&:hover {
	background: $hover;
	color: $light;
	}
}

/* Top Container Index Page */

.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
		'showcase showcase top-box-1'
		'showcase showcase top-box-2'
		'showcase showcase top-box-3'
		'showcase showcase top-box-4';
}

.showcase {
	grid-area: showcase;
	min-height: 400px;
	background: url("images/showcase-4.png");
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
	/* opacity: 0.5; */
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: left;
	box-shadow: $shadow;
}

.showcase h1 {
	font-size: 4rem;
	margin-bottom: 0;
	color: $dark;
}

.showcase p {
	font-size: 1.3rem;
	font-weight: 500;
	margin-top: 0;
	color: $dark;
}

.showcase .btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}


/* Index Page Top Box */

.top-box {
	background: $primary;
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: $shadow;
	padding: 1.5rem;
}

.top-box-1 {
	grid-area: top-box-1;
}

.top-box-2 {
	grid-area: top-box-2;
}

.top-box-3 {
	grid-area: top-box-3;
}

.top-box-4 {
	grid-area: top-box-4;
}

/* Outreach Page */

/*.outreach-top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
		'outreach-showcase outreach-showcase outreach-box-1'
		'outreach-showcase outreach-showcase outreach-box-2'
		'outreach-showcase outreach-showcase outreach-box-3'
		'outreach-showcase outreach-showcase outreach-box-4'
		'outreach-showcase outreach-showcase outreach-box-5'
		'outreach-showcase outreach-showcase outreach-box-6'
} */

	.wrapper-2{
		display: grid;
		/*grid-template-columns: 1fr 2fr 1fr; */
		grid-template-columns: repeat(3, 1fr); 
		grid-gap: 1em;
		/*grid-auto-rows: 100px;*/
		grid-auto-rows:minmax(100px, auto);
	}

.outreach-showcase {
	grid-area: showcase;
	min-height: 400px;
	/* opacity: 0.5; */
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: left;
	box-shadow: $shadow;
}

.outreach-box {
	background: $primary;
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: $shadow;
	padding: 1.5rem;
}

/*.outreach-box-1 {
	grid-area: outreach-box-1;
}

.outreach-box-2 {
	grid-area: outreach-box-2;
}

.outreach-box-3 {
	grid-area: outreach-box-3;
}

.outreach-box-4 {
	grid-area: outreach-box-4;
}

.outreach-box-5 {
	grid-area: outreach-box-5;
}

.outreach-box-6 {
	grid-area: outreach-box-6;
} */


/* People Page */

.people-container {
	/*display: grid;
	grid-gap: 20px;
	grid-template-areas: repeat(4, 1fr);*/
	display: grid;
	/*grid-template-columns: 1fr 2fr 1fr; */
	grid-template-columns: repeat(4, 1fr); 
	grid-gap: 1em;
	/*grid-auto-rows: 100px;*/
	grid-auto-rows:minmax(100px, auto);
}

.people-box {
	background: $primary;
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: $shadow;
	padding: 1.5rem;
	img: opacity 0.2;
	color: $green;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

.people-box-1 {
	background-image: url(images/boardroom-2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} 

.people-box-2 {
	background-image: url(images/reports.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-3 {
	background-image: url(images/research.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-4 {
	background-image: url(images/university.jpg);
	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	background-repeat: no-repeat;
  background-blend-mode: lighten;
}
	
.people-box-5 {
	background-image: url(images/leadership.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-6 {
	background-image: url(images/oversight.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-7 {
	background-image: url(images/university-leads.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} 


/* Boxes */

.boxes {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

.social-box {
	background: $primary;
	text-align: center;
	padding: 1rem 1rem;
	box-shadow: $shadow;
}

/*.social-box .i:hover {
	background: $hover;
	color: $light;
} */

.email {
	background: $primary;
	text-align: center;
	padding: 1rem 1rem;
	box-shadow: $shadow;

}

/* Footer */

footer {
	margin-top: 2rem;
	background: $dark;
	color: $light;
	text-align: center;
	padding: 1rem;
	
}

.end-nav ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(3, 1fr);
}

.end-nav a {
	background: $primary;
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: $dark;
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: $shadow;

	&:hover {
	background: $hover;
	color: $light;
	}
}

/* Media Queries */

/*@media(max-width: 700px) {
	.top-container {
		grid-template-areas:
			'showcase showcase'
			'top-box-1 top-box-2'
			'top-box3 top-box-4';
	}
	.showcase h1 {
		font-size: 2.5rem;
	}
	
	main-nav ul {
		grid-template-columns: 1fr;
	}
	
	.info .btn {
		display: block;
		text-align: center;
		margin: auto;
	}
}

@media(max-width: 500px) {
		.top-container {
			grid-template-areas:
			'showcase' 
			'top-box-1'
			'top-box-2'
			'top-box-3'
			'top-box-4';
	}
} */