html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif; }

body {
  background: #FOEDE5;
  margin: 30px 50px;
  line-height: 1.4; }

.btn {
  background-color: #333;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0; }

img {
  max-width: 100%; }

.wrapper {
  display: grid;
  grid-gap: 20px; }

/* Header */
header {
  background-image: url(images/header-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.search {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* header {
	margin-top: .5rem;
	background: rgba(210, 105, 30, .85);//#D2691E autumn maple
	color: $light;
	text-align: center;
	padding: 1rem;
} 

header h1 {
	color: $dark;
} */
/*header {
	margin-top: 2rem;
	background: $dark;
	color: $light;
	//background-size: cover;
	//background-position: center;
	padding: 1rem;
	//display: flex;
	//color: $light;
	text-align: left;
	//background-image: url(images/header.png);
}*/
/*Navigation*/
.main-nav ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  margin-top: -.5rem;
  margin-bottom: -.5rem;
  list-style: none;
  grid-template-columns: repeat(8, 1fr); }

.main-nav a {
  background: #333;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }
  .main-nav a:hover {
    background: #d8ae47;
    color: #fff; }

/* Top Container Index Page */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'showcase showcase top-box-1' 'showcase showcase top-box-2' 'showcase showcase top-box-3' 'showcase showcase top-box-4'; }

.showcase {
  grid-area: showcase;
  min-height: 150px;
  background: url("images/solar-panels-2.png");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

.showcase h1 {
  margin-bottom: 0;
  color: #fff; }

.showcase p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0;
  color: #333;
  line-height: 1.5rem; }

/*.showcase .btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
} */
.btn-container {
  margin: auto;
  height: 44px;
  width: 166.23px; }

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border: none;
  padding: 8px;
  font-size: 20px;
  background: #333;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Index Page Top Box */
.top-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
  color: #333;
  letter-spacing: 2px;
  font-weight: 300; }

.box-1 {
  background-image: url(images/conference.png);
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.box-2 {
  background: #333;
  color: #fff; }

.box-3 {
  background-image: url(images/university-leads.jpg);
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.box-4 {
  background-image: url(images/university.jpg);
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

/* Outreach Page */
.wrapper-2 {
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  /*grid-auto-rows: 100px;*/
  grid-auto-rows: minmax(100px, auto); }

.outreach-showcase {
  grid-area: showcase;
  min-height: 400px;
  /* opacity: 0.5; */
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

.outreach-box {
  background: -webkit-gradient(linear, left top, left bottom, from(#B4B7BA), to(#506020));
  background: linear-gradient(#B4B7BA, #506020);
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
  color: #333;
  letter-spacing: 2px;
  font-weight: 100; }

/* People Page */
.people-container {
  /*display: grid;
  grid-gap: 20px;
  grid-template-areas: repeat(4, 1fr);*/
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  /*grid-auto-rows: 100px;*/
  grid-auto-rows: minmax(100px, auto); }

.people-box {
  background: #B4B7BA;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
  img: opacity 0.2;
  color: #003300;
  letter-spacing: 1px;
  font-size: 1.2rem; }

.people-box-1 {
  background-image: url(images/boardroom-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-2 {
  background-image: url(images/reports.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-3 {
  background-image: url(images/research.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-4 {
  background-image: url(images/university.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten; }

.people-box-5 {
  background-image: url(images/leadership.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-6 {
  background-image: url(images/oversight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-7 {
  background-image: url(images/university-leads.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

/* Advisory Board */
.collapsible {
  background-color: #B4B7BA;
  color: #003300;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: -10px; }

.advisory h2 {
  color: #003300;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 15px;
  text-align: center; }

.active, .collapsible:hover {
  background-color: #d8ae47; }

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  color: #333;
  width: 50%; }

/*.content img {
	width: 100px;
	height: 100px;
} */
/* Boxes */
.social-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto auto;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 5px;
  margin-top: -.5rem;
  margin-bottom: -.5rem; }

/*.social-container > div {
	background-color: $primary;
	text-align: center;
	padding: 20px 0;
} */
.email {
  background: #B4B7BA;
  background-image: url(images/envelope.jpg);
  text-align: center;
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

.social-box-1 {
  text-align: center;
  padding: 3rem 0 0 0; }

.social-box-2 {
  text-align: center;
  padding: 3rem 0 0 0; }

.social-box-3 {
  text-align: center;
  padding: 3rem 0 0 0; }

/*.social-box .i:hover {
	background: $hover;
	color: $light;
} */
/* Footer */
footer {
  margin-top: 0rem;
  background: dark;
  color: #333;
  text-align: center;
  padding: 1rem; }

.end-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr); }

.end-nav a {
  background: #333;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }
  .end-nav a:hover {
    background: #d8ae47;
    color: #fff; }

/* Media Queries */
/*@media(max-width: 700px) {
	.top-container {
		grid-template-areas:
			'showcase showcase'
			'top-box-1 top-box-2'
			'top-box3 top-box-4';
	}
	.showcase h1 {
		font-size: 2.5rem;
	}
	
	main-nav ul {
		grid-template-columns: 1fr;
	}
	
	.info .btn {
		display: block;
		text-align: center;
		margin: auto;
	}
}

@media(max-width: 500px) {
		.top-container {
			grid-template-areas:
			'showcase' 
			'top-box-1'
			'top-box-2'
			'top-box-3'
			'top-box-4';
	}
} */

/*# sourceMappingURL=new-styles.css.map */