html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%; }

body {
  background: #FOEDE5;
  margin: 30px 50px;
  line-height: 1.4; }

.btn {
  background-color: #333;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0; }

img {
  max-width: 100%; }

.wrapper {
  display: grid;
  grid-gap: 20px; }

/* Header */
.header-container {
  background-image: url(images/header-image.png);
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: -15px; }

.social-linked-in {
  position: absolute;
  top: 50px;
  left: 950px;
  color: #007bb5; }
  .social-linked-in i:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.social-twitter {
  position: absolute;
  top: 50px;
  left: 1090px;
  color: #1da1f2; }
  .social-twitter i:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.social-facebook {
  position: absolute;
  top: 50px;
  left: 1230px;
  color: #3b5998; }
  .social-facebook i:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.social-youtube {
  position: absolute;
  top: 50px;
  left: 1370px;
  color: #ff0000; }
  .social-youtube i:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.search-container .search {
  position: absolute;
  bottom: 550px;
  left: 1058px; }

.search-container button:hover {
  background: #ff9900;
  color: #fff; }

/*Navigation*/
.main-nav ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  margin-top: -.5rem;
  margin-bottom: -.5rem;
  list-style: none;
  grid-template-columns: repeat(8, 1fr); }

.main-nav a {
  background: #333;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }
  .main-nav a:hover {
    background: #ff9900;
    color: #fff; }

.showcase {
  grid-area: showcase;
  min-height: 400px;
  background-image: url(images/solar-panels-2.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

.showcase h1 {
  margin-bottom: 0;
  color: #fff; }

.showcase p {
  font-size: 1.1rem; }

.btn-container {
  margin: auto;
  height: 44px;
  width: 166.23px; }

#more {
  display: none; }

#myBtn:hover {
  background: #ff9900;
  color: #fff; }

/*button {
	user-select: none;
	cursor: pointer;
	border: none;
	padding: 8px;
	font-size: 20px;
	background: $dark;
	color: $light;
	box-sizing: border-box;
} */
/* Index Page Index Box */
.wrapper-1a {
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  /*grid-auto-rows: 100px;*/
  grid-auto-rows: minmax(100px, auto);
  background-color: #B4B7BA; }

.wrapper-1a h2 {
  color: #333;
  font-weight: 100;
  line-height: 1.5rem; }

.grid-item {
  background: #B4B7BA;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-top: 0;
  padding-bottom: 1rem;
  color: #333;
  letter-spacing: 1px;
  line-height: 1.3rem; }

.index-box-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten; }

.index-box-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten; }

/* .grid-item .index-box-3 {
	//background-image: url(images/fact-sheet.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}
 .grid-item .index-box-4 {
	//background-image: url(images/fact-sheet.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
} */
/*.index-box-container {
  display: grid;
  grid-gap: 15px;
  background-color: $light;
  padding: 15px;
}

.index-box-1 {
  grid-column: 1 / span 1;
  grid-row: 1;
	box-shadow: $shadow;
}
.index-box-2 {
  grid-column: 3;
  grid-row: 1 / span 3;
	//box-shadow: $shadow;
}
.index-box-3 {
  grid-column: 1 / span 1;
  grid-row: 2;
	box-shadow: $shadow;
  }
.index-box-4 {
  grid-column: 1 / span 1;
  grid-row: 3;
	box-shadow: $shadow;
	margin-bottom: -2rem;
}

.grid-item index-box-2 {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.grid-item index-box-2 h2 {
	display: grid;
	align-items: center;
	justify-items: center;
}

/*.grid-item index-box-2 iframe,
.grid-item index-box-2 object,
.grid-item index-box-2 embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */
/* Outreach Page */
.wrapper-2 {
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  /*grid-auto-rows: 100px;*/
  grid-auto-rows: minmax(100px, auto); }

.outreach-showcase {
  grid-area: showcase;
  min-height: 400px;
  background-image: url(images/showcase-4.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }

.outreach-showcase p {
  font-size: 1.1rem; }

.outreach-box {
  background: #B4B7BA;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
  color: #333;
  letter-spacing: 1px;
  line-height: 1.3rem; }

.outreach-box h3 {
  font-size: 1.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.outreach-box-1 {
  background-image: url(images/fact-sheet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten; }

.outreach-box-2 {
  background-image: url(images/energy-video-clip.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten; }

.outreach-box-3 {
  background-image: url(images/research-and-expertise.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten; }

.outreach-box-4 {
  background-image: url(images/energy-links.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten; }

.outreach-box-5 {
  background-image: url(images/calculator.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten; }

.outreach-box-6 {
  background-image: url(images/tax-incentives.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten; }

/* People Page */
.people-container {
  /*display: grid;
  grid-gap: 20px;
  grid-template-areas: repeat(4, 1fr);*/
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  /*grid-auto-rows: 100px;*/
  grid-auto-rows: minmax(100px, auto); }

.people-box {
  background: #B4B7BA;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
  img: opacity 0.2;
  color: #003300;
  letter-spacing: 1px;
  font-size: 1.2rem;
  line-height: 1.3rem; }

a:hover {
  background: #ff9900;
  color: #fff; }

.people-box-1 {
  background-image: url(images/boardroom-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-2 {
  background-image: url(images/reports.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-3 {
  background-image: url(images/research.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-4 {
  background-image: url(images/university.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten; }

.people-box-5 {
  background-image: url(images/leadership.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-6 {
  background-image: url(images/oversight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

.people-box-7 {
  background-image: url(images/university-leads.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten; }

/* Advisory Board */
.collapsible {
  background-color: #B4B7BA;
  color: #003300;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: -10px; }

/* Create two equal columns that float next to each other */
.column {
  float: left;
  width: 48%;
  padding: 8px;
  margin: 5px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.advisory h2 {
  color: #003300;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 15px;
  text-align: center; }

.active, .collapsible:hover {
  background-color: #ff9900; }

.content {
  padding-top: 12px;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  color: #333;
  width: 100%; }

/* Newsletter */
.email-container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem; }

.subscribe h3 {
  color: #333;
  font-size: 1.5rem; }

form .subscribe-button {
  position: absolute; }
  form .subscribe-button:hover {
    background: #ff9900;
    color: #fff; }

/* Footer */
footer {
  margin-top: 0rem;
  background: dark;
  color: #333;
  text-align: center;
  padding: 1rem; }

.end-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr); }

.end-nav a {
  background: #333;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }
  .end-nav a:hover {
    background: #ff9900;
    color: #fff; }

/* Media Queries */
/*Tablet Landscape */
/*@media screen and (max-width: 1060px) {
	.wrapper { width: 100%; }
}

@media screen and (max-width: 768px) {
	.wrapper { width: 100%; }
}

@media (min-device-width:800px) {
	img[data-src-800px] {
		content: attr(data-src-800px, url);
	}
}

@media (min-width: 640px) {
	body {font-size: 1rem;}
}

@media (min-width: 960px) {
	body {font-size: 1.2rem;}
}

@media (min-width: 1100px) {
	body {font-size: 1.5rem;}
} */

/*# sourceMappingURL=new-styles.css.map */