	$primary: #B4B7BA;//was #ddd now harbor mist
	$dark: #333; //black
	$light: #fff; //white
	$green: #003300; //some caption text
	$shadow:0 1px 5px rgba(104, 104, 104, 0.8);
	$btn: $dark; //was spicy mustard
	$hover:#d8ae47; //spicy mustard

@mixin btn {
	background-color: $btn;
	color: $light;
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
}

html {
	box-sizing: border-box;
	color: $dark;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #FOEDE5;//was#f2f2f2 now cocounut milk
	margin: 30px 50px;
	line-height: 1.4;
}

.btn {
@include btn;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
}

/* Header */

.header-container {
	background-image: url(images/header-image.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	min-height: 200px;
	display: flex;
	flex-direction:  column;
	align-items: start;
	justify-content: flex-start;
	margin-bottom: -15px;
}
	
.search-container .search {
	position: absolute;
	bottom: 550px;
	left: 1000px;
}


/*Navigation*/

.main-nav ul {
	display: grid;
	grid-gap: 10px;
	padding: 0;
	margin-top: -.5rem;
	margin-bottom: -.5rem;
	list-style: none;
	grid-template-columns: repeat(8, 1fr);
}

.main-nav a {
	background: $dark;
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: $light;
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: $shadow;

&:hover {
	background: $hover;
	color: $light;
	}
}

/* Top Container Index Page */

.wrapper-3 {
		display: grid;
		/*grid-template-columns: 1fr 2fr 1fr; */
		grid-template-columns: 1fr 1fr 1fr 2fr;
		grid-gap: 1em;
		/*grid-auto-rows: 100px;*/
		grid-auto-rows:minmax(100px, auto);
	}

/*.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
		'showcase top-box-1'
		'showcase top-box-2'
		'showcase top-box-3'
		'showcase top-box-4';
} */

.showcase {
	grid-area: showcase;
	min-height: 400px;
	background-image: url(images/solar-panels-2.png);
	background-color: rgba(255, 255, 255, .8);
 	background-blend-mode: lighten;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	box-shadow: $shadow;
}

/*.showcase {
	grid-area: showcase;
	min-height: 150px;
	background: url("images/solar-panels-2.png");
	background-color: rgba(255, 255, 255, .8);
 	background-blend-mode: lighten;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 3rem;
	display: flex;
	flex-direction:  column;
	align-items: start;
	justify-content: center;
	box-shadow: $shadow;
} */

.showcase h1 {
	//font-size: 4rem;
	margin-bottom: 0;
	color: $light;
}

.showcase p {
	font-size: 1.1rem;
}
/*.showcase p {
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: 0;
	color: $dark;
	line-height: 1.5rem;
} */

/*.showcase .btn {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
} */

.btn-container {
	margin: auto;
	height: 44px;
	width: 166.23px;
}

button {
	user-select: none;
	cursor: pointer;
	border: none;
	padding: 8px;
	font-size: 20px;
	background: $dark;
	color: $light;
	box-sizing: border-box;
}

/* Index Page Top Box */

/*.top-box {
	align-items: center;
	justify-items: center;
	box-shadow: $shadow;
	padding: 1.5rem;
	color: $dark;
	letter-spacing: 2px;
	font-weight: 300;
} */

.top-box {
	background: $primary;
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: $shadow;
	padding: 1.5rem;
	color: $dark;
	letter-spacing: 2px;
	font-weight: 100;
}

/*.outreach-box h3 {
	font-size: 1.3rem;
	align-items: center;
} */

.box-1 {
	background-image: url(images/conference.png);
	background-position: center;
	background-repeat: repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} 

/*.box-1 {
	//grid-area: top-box-1;
	background-image: url(images/conference.png);
	background-position: center;
	background-repeat: repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} */

.box-2 {
	background-image: url(images/university-leads.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

/*.box-2 {
	//grid-area: top-box-2;
	background: $dark;
	color: $light;
} */

.box-3 {
	background-image: url(images/university.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

/*.box-3 {
	//grid-area: top-box-3;
	background-image: url(images/university-leads.jpg);
	background-position: center;
	background-repeat: repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} */

.box-4 {
	background: $dark;
	color: $light;
}

/*.box-4 {
	//grid-area: top-box-4;
	background-image: url(images/university.jpg);
	background-position: center;
	background-repeat: repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} */

/* Outreach Page */

.wrapper-2{
		display: grid;
		/*grid-template-columns: 1fr 2fr 1fr; */
		grid-template-columns: repeat(3, 1fr); 
		grid-gap: 1em;
		/*grid-auto-rows: 100px;*/
		grid-auto-rows:minmax(100px, auto);
	}


.outreach-showcase {
	grid-area: showcase;
	min-height: 400px;
	background-image: url(images/showcase-4.png);
	background-color: rgba(255, 255, 255, .8);
 	background-blend-mode: lighten;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	box-shadow: $shadow;
}

.outreach-showcase p {
	font-size: 1.1rem;
}

.outreach-box {
	background: $primary;
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: $shadow;
	padding: 1.5rem;
	color: $dark;
	letter-spacing: 2px;
	font-weight: 100;
}

.outreach-box h3 {
	font-size: 1.3rem;
	align-items: center;
}

.outreach-box-1 {
	background-image: url(images/fact-sheet.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} 

.outreach-box-2 {
	background-image: url(images/energy-video-clip.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.outreach-box-3 {
	background-image: url(images/research-and-expertise.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.outreach-box-4 {
	background-image: url(images/energy-links.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.outreach-box-5 {
	background-image: url(images/calculator.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.outreach-box-6 {
	background-image: url(images/tax-incentives.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

/* People Page */

.people-container {
	/*display: grid;
	grid-gap: 20px;
	grid-template-areas: repeat(4, 1fr);*/
	display: grid;
	/*grid-template-columns: 1fr 2fr 1fr; */
	grid-template-columns: repeat(4, 1fr); 
	grid-gap: 1em;
	/*grid-auto-rows: 100px;*/
	grid-auto-rows:minmax(100px, auto);
}

.people-box {
	background: $primary;
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: $shadow;
	padding: 1.5rem;
	img: opacity 0.2;
	color: $green;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

.people-box-1 {
	background-image: url(images/boardroom-2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} 

.people-box-2 {
	background-image: url(images/reports.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-3 {
	background-image: url(images/research.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-4 {
	background-image: url(images/university.jpg);
	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	background-repeat: no-repeat;
  background-blend-mode: lighten;
}
	
.people-box-5 {
	background-image: url(images/leadership.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-6 {
	background-image: url(images/oversight.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.people-box-7 {
	background-image: url(images/university-leads.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
} 

/* Advisory Board */

.collapsible {
    background-color: $primary;
    color: $green;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
		margin-top: -10px;
		margin-bottom: -10px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding: 8px;
    margin: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.advisory h2 {
	color: $green;
	letter-spacing: 2px;
	font-size: 25px;
	line-height: 15px;
	text-align: center;
}

.active, .collapsible:hover {
   background-color: $hover;
}

.content {
   //padding: 18px;
	padding-top: 12px;
	padding-bottom: 0;
  max-height: 0;
 	overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: $light;
	color: $dark;
	width: 100%;
}

/*.content img {
	width: 100px;
	height: 100px;
} */


/* Boxes */

.social-container {
	display: grid;
	grid-gap: 1px;
	grid-template-columns: auto auto auto auto;
	box-shadow: $shadow;
	padding: 5px;
	margin-top: 1rem;
	margin-bottom: -.5rem;
} 

/*.social-container > div {
	background-color: $primary;
	text-align: center;
	padding: 20px 0;
} */

.email {
	background: $primary;
	background-image: url(images/envelope.jpg);
	text-align: center;
	padding: 1rem 1rem;
	box-shadow: $shadow;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;	
	}
.email .btn {
	&:hover {
	background: $hover;
	color: $light;
}
}

.social-box-1 {
	//background: $primary;
	text-align: center;
	padding: 3rem 0 0 0;
	//box-shadow: $shadow;
	color: #1da1f2;
	//border: solid black 1px;
	//margin: 2px 2px;

}
.social-box-2 {
	//background: $primary;
	text-align: center;
	padding: 3rem 0 0 0;
	//box-shadow: $shadow;
	color: #3b5998;
	//border: solid black 1px;
	//margin: 2px 2px;
}

.social-box-3 {
	//background: $primary;
	text-align: center;
	padding: 3rem 0 0 0;
	//box-shadow: $shadow;
	color: #007bb5;
	//border: solid black 1px;
	//margin: 2px 2px;
}



/* Footer */

footer {
	margin-top: 0rem;
	background: dark;
	color: $dark;
	text-align: center;
	padding: 1rem;
	
}

.end-nav ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(3, 1fr);
}

.end-nav a {
	background: $dark;
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: $light;
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: $shadow;

	&:hover {
	background: $hover;
	color: $light;
	}
}

/* Media Queries */

/*@media(max-width: 700px) {
	.top-container {
		grid-template-areas:
			'showcase showcase'
			'top-box-1 top-box-2'
			'top-box3 top-box-4';
	}
	.showcase h1 {
		font-size: 2.5rem;
	}
	
	main-nav ul {
		grid-template-columns: 1fr;
	}
	
	.info .btn {
		display: block;
		text-align: center;
		margin: auto;
	}
}

@media(max-width: 500px) {
		.top-container {
			grid-template-areas:
			'showcase' 
			'top-box-1'
			'top-box-2'
			'top-box-3'
			'top-box-4';
	}
} */